<div class="resume_container">
    
    <main class="bd-container">
        <div class="resume" id="area-cv">
            
            <div class="resume_left">
                <!--=========== INTRO ===========-->
                <section class="intro" id="intro">
                    <div class="intro_container section bd-grid">
                        
                        <div class="intro_data bd-grid">
                            <img src="./assets/images/placeholder.jpg" alt="" class="intro_img">
        
                            <h1 class="intro_title"><b>John Snow</b></h1>
                            <h3 class="intro_profession">Backend Developer</h3>
        
                            <div>
                                <a href="#" class="intro_button-download">Download</a>
                            </div>

                        </div>

                        <div class="intro_address bd-grid">
                            <span class="intro_information">
                                <i class="bx bx-map intro_icon"></i>Greenville, SC
                            </span>
                            <span class="intro_information">
                                <i class="bx bx-envelope intro_icon"></i>Mock.Email@gmail.com
                            </span>
                            <span class="intro_information">
                                <i class="bx bx-phone intro_icon"></i>(731) 341-8903
                            </span>
                            <span class="intro_information">
                                <i class="bx bx-chat intro_icon"></i>English, Russian, French
                            </span>
                        </div>

                    </div>
                </section> 

                <!--=========== PROFILE ===========-->
                <section class="profile section" id="profile">
                    <h2 class="section_title">Intro</h2>
                    <p class="profile_description">
                        Sed egestas arcu ac sagittis congue. Integer tellus purus, malesuada vel consectetur et, pretium ac mauris. 
                        Nam dictum neque at condimentum pulvinar. Sed sed lorem ac ligula egestas scelerisque. 
                        Ut sollicitudin porta metus, ac pellentesque lacus sodales ut.
                    </p>
                </section>

                <!--========== EDUCATION ==========-->
                <section class="education section" id="education">
                    <h2 class="section_title">Education</h2>
                    <div class="education_container bd-grid">
                        
                        <!-- Little Gray side line-->
                        <div class="experience_content">
                            <div class="experience_time">
                                <span class="timeline_rounder"></span>
                                <span class="timeline_line"></span>
                            </div>

                            <div class="experience_data bd-grid">
                                <h3 class="experience_title">Bachelor of Computer, and Information Science</h3>
                                <span class="experience_org">SUNY Polytechnic Institute</span>
                                <span class="education_year">2013 to 2017</span>
                            </div>
                        </div>

                        <div class="experience_content">
                            <div class="experience_time">
                                <span class="timeline_rounder"></span>
                            </div>

                            <div class="experience_data bd-grid">
                                <h3 class="experience_title">Associates of Computer Science</h3>
                                <span class="experience_org">Mohawk Valley Community College</span>
                                <span class="education_year">2010 - 2013</span>
                            </div>
                        </div>

                    </div>
                </section>

                <!--========== SKILLS  ==========-->
                <section class="skills section" id="skills">
                    <h2 class="section_title">Skills</h2>
                    <div class="skills_content bd-grid">
                        <ul class="skills_data">
                            <li class="skills_name">
                                <span class="skills_circle"></span>C#
                            </li>
                            <li class="skills_name">
                                <span class="skills_circle"></span>Java
                            </li>
                            <li class="skills_name">
                                <span class="skills_circle"></span>Python
                            </li>
                        </ul>


                        <ul class="skills_data">
                            <li class="skills_name">
                                <span class="skills_circle"></span>HTML
                            </li>
                            <li class="skills_name">
                                <span class="skills_circle"></span>CSS
                            </li>
                            <li class="skills_name">
                                <span class="skills_circle"></span>Angular
                            </li>
                        </ul>
                    </div>
                </section>

            </div>
            
            <div class="resume_right">
                <section class="experience section" id="experience">
                    <h2 class="section_title">Experience</h2>

                    <div class="experience_container bd-grid">
                        <div class="experience_content">
                            <div class="experience_time">
                                <span class="timeline_rounder"></span>
                                <span class="timeline_line"></span>
                            </div>

                            <div class="experience_data bd-grid">
                                <h3 class="experience_title">Software Engineer</h3>
                                <span class="experience_org">From 2020 to 2022 | Tech Soft</span>
                                <p class="experience_description">
                                    Nunc lacinia diam et diam porttitor rhoncus. Sed egestas arcu ac sagittis congue. 
                                    Integer tellus purus, malesuada vel consectetur et, pretium ac mauris. Nam dictum neque at condimentum pulvinar. 
                                    Sed sed lorem ac ligula egestas scelerisque. Ut sollicitudin porta metus, ac pellentesque lacus sodales ut. 
                                    Nullam id blandit ante, a congue massa.
                                </p>
                            </div>
                        </div>

                        <div class="experience_content">
                            <div class="experience_time">
                                <span class="timeline_rounder"></span>
                                <span class="timeline_line"></span>
                            </div>

                            <div class="experience_data bd-grid">
                                <h3 class="experience_title">Software Engineer</h3>
                                <span class="experience_org">From 2018 to 2020 | ORBCOMM</span>
                                <p class="experience_description">
                                    Suspendisse luctus laoreet quam, sit amet tristique libero porta vitae. Sed pulvinar, 
                                    ante at dignissim dapibus, dui sapien ornare nisi, id lacinia risus libero a lectus. Sed faucibus pellentesque fermentum. 
                                    Aliquam nulla lacus, vestibulum eu neque eget, volutpat auctor sem. 
                                    Donec nec tristique justo, sit amet posuere magna.
                            </div>
                        </div>
                    </div>
                </section>

                <!--========== CERTIFICATES ==========-->
                <section class="certificate section" id="certificates">
                    <h2 class="section_title">Certifications</h2>
                    <div class="certificate__container bd-grid">
                        <div class="certificate__content">
                            <h3 class="certificate_title">AWS Associates Solutions Architect</h3>
                            <p class="certificate__description">Maecenas a magna dui. Sed eu congue velit. Cras malesuada porttitor sapien eu dignissim. Vestibulum sed commodo elit.</p>
                        </div>
                    </div>
                </section>

                <!--========== INTERESTS =============-->
                <section class="interests section">
                    <h2 class="section_title">Interests</h2>

                    <div class="interests_container bd-grid">
                        <div class="interests_content">
                            <i class='bx bxs-plane-alt' ></i>Travel
                        </div>
                        <div class="interests_content">
                            <i class='bx bxs-message-rounded-dots'></i>Foreign Languages
                        </div>
                        <div class="interests_content">
                            <i class='bx bx-pulse'></i>Fitness
                        </div>
                        <div class="interests_content">
                            <i class='bx bx-code-alt'></i>Code
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </main>
</div>